<div class="login">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <h1>instagram</h1>
    <p class="mail_login"><%= f.email_field :email, placeholder: "メールアドレス"%></p>
    <p class="mail_password"><%= f.password_field :password, placeholder: "パスワード" %></p>
    <p><%= f.submit "ログイン" %></p>
    <p class="btn btn-success">アカウントをお持ちでないですか？<%= link_to "登録する", new_user_path %></p>
  <% end %>
</div>
