<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <p><%= form.label :写真 %></p>
    <% if @blog.picture && @blog.picture.url %>
      <%= image_tag @blog.picture.url ,class:'icon'%>
    <% end %>
    <%= form.file_field :picture %>
    <%= form.hidden_field :picture_cache %>
  </div>
  <div class="blog_content">
    <%= form.text_area :content, placeholder: "いまなにしてる？", size: "30x10" %>
    <p><%= form.submit %></p>
    <%= link_to 'ホームへ', blogs_path %>
  </div>
<% end %>
