<h1 class="post_list">投稿一覧</h1>
<p><%= link_to "お気に入り一覧へ", favorite_users_path %> </p>
  <p><%= notice %></p>
  <% @blogs.each do |blog| %>
    <table class="post_table">
      <tr>
        <td>名前：<%= blog.user.name %></td>
      </tr>
      <tr>
        <td>
        　<% unless blog.picture.file.nil? %>
      　    <%= image_tag blog.picture.url ,class:'icon'%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><内容><br><%= blog.content %></td>
      </tr>
      <tr class="edit">
      <td><%= link_to '詳細', blog_path(blog.id) %>
        <% if current_user.id == blog.user_id %>
          <%= link_to "編集", edit_blog_path(blog.id) %>
          <%= link_to "削除", blog_path(blog.id), method: :delete, data:{confirm: '本当に削除しますか？'} %></td>
        <% end %>
      </tr>
    </table>
  <% end %>
  <div class="newly_posts">
    <p class="home_posts_button"><%= link_to '投稿する', new_blog_path %></P>
  </div>
