<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <table class="account_creating_form">
      <tr>
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :image %>
      </tr>
      <tr>
        <td><%= f.text_field :name, placeholder: "フルネーム"%></td>
      </tr>
      <tr>
        <td><%= f.email_field :email, placeholder: "メールアドレス"  %></td>
      </tr>
      <tr>
        <td><%= f.password_field :password, placeholder: "パスワード" %></td>
      </tr>
      <tr>
        <td><%= f.password_field :password_confirmation, placeholder: "パスワード(再確認)" %></td>
      </tr>
      <tr>
        <td><%= f.submit "登録する" %></td>
      </tr>
    </table>
  <% end %>
