<div class="profile">
  <h1>名前：<%= @user.name %></h1>
  <p>メールアドレス: <%= @user.email %></p>
  <p>
    <% unless @user.image.file.nil? %>
      <%= image_tag @user.image.url ,class:'icon'%>
    <% end %>
  </p>
  <p><%= link_to 'プロフィール編集', edit_user_path(@user.id) %><p>
  <p><%= link_to "お気に入り一覧へ", favorite_users_path %> </p>
  <p><%= link_to 'ホーム', blogs_path %></p>
  <p><%= link_to '新しくブログを投稿する', new_blog_path %></p>
</div>
