<h1>名前：<%= @user.name %></h1>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url unless @user.image.file.nil? %>
</p>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<p><%= link_to "お気に入り一覧へ", favorite_users_path %> </p>
<p><%= link_to 'ホーム', blogs_path %></p>
<p><%= link_to '新しくブログを投稿する', new_blog_path %></p>
