<h1>名前：<%= @user.name %></h1>
<% if @user.image? %>
  <%= image_tag @user.image %>
<% else %>
  <%= image_tag("/images/obake.png") %>
<% end %>
<p>メールアドレス: <%= @user.email %></p>
<%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
<p><%= link_to 'ホーム', blogs_path %></p>
<p><%= link_to '新しくブログを投稿する', new_blog_path %></p>
